quy tắc khi viết code
1. khi viết css responsive thì hãy xem file đấy đã có các đoạn responsive trước chưa,
nếu có rồi thì viết vào các đoạn responsive trước đó luôn, không tách ra thành một đoạn
responsive mới nữa
2. font-size, font-weight trên responsive và máy tính sẽ khác nhau, không được sử dụng
luôn cái đấy của máy tính cho responsive
3. khi tôi nói bạn sửa phần nào thì chỉ sửa phần đấy thôi, các phần khác bạn không
được phép sửa


